jQuery(document).ready(function($) {

    var ResponsiveMenuPro = {
        trigger: '{{ options.button_click_trigger }}',
        animationSpeed: {{ options.animation_speed * 1000 }},
        breakpoint: {{ options.breakpoint }},
        {% if options.animation_type == 'push' %}
            pageWrapper: '{{ options.page_wrapper }}',
        {% endif %}
        isOpen: false,
        activeClass: 'is-active',
        container: '#responsive-menu-pro-container',
        openClass: 'responsive-menu-pro-open',
        activeArrow: '{{ options.getActiveArrow() }}',
        inactiveArrow: '{{ options.getInActiveArrow() }}',
        wrapper: '#responsive-menu-pro-wrapper',
        linkElement: '.responsive-menu-pro-item-link',
        originalHeight: '',
        openMenu: function() {
            $(this.trigger).addClass(this.activeClass);
            $('html').addClass(this.openClass);
            $('.responsive-menu-pro-button-icon-active').hide();
            $('.responsive-menu-pro-button-icon-inactive').show();

            {% if options.use_single_menu == 'on' %}
                $(this.container).removeClass('responsive-menu-pro-no-transition');
            {% endif %}

            {% if options.button_title_open and options.button_title %}
                this.setButtonTextOpen();
            {% endif %}

            {% if options.animation_type != 'fade' %}
                this.setWrapperTranslate();
            {% else %}
                this.fadeMenuIn();
            {% endif %}

            {% if options.fade_submenus == 'on' %}
                $("#responsive-menu-pro > li").each(function(index) {
                    $(this).show();
                    $(this).animate({opacity: 0}, 0);
                    $(this).delay({{ options.fade_submenus_delay }} * index).animate({
                        'margin-left': "0",
                        'opacity': 1
                    }, {{ options.fade_submenus_speed }});
                });
            {% endif %}

            {% if options.use_slide_effect == 'on' %}
                var self = this;
                $('#responsive-menu-pro').promise().done(function(){
                    self.originalHeight = $('#responsive-menu-pro').height();
                    $('#responsive-menu-pro').css({'height': self.originalHeight});
                });
            {% endif %}

            this.isOpen = true;
        },
        closeMenu: function() {
            $(this.trigger).removeClass(this.activeClass);
            $('html').removeClass(this.openClass);
            $('.responsive-menu-pro-button-icon-inactive').hide();
            $('.responsive-menu-pro-button-icon-active').show();

            {% if options.button_title_open and options.button_title %}
                this.setButtonText();
            {% endif %}

            {% if options.animation_type != 'fade' %}
                this.clearWrapperTranslate();
            {% else %}
                this.fadeMenuOut();
            {% endif %}

            $("#responsive-menu-pro > li").removeAttr('style');

            this.isOpen = false;
        },
        {% if options.button_title_open and options.button_title %}
            setButtonText: function() {
                if($('.responsive-menu-pro-button-text-open').length > 0 && $('.responsive-menu-pro-button-text').length > 0) {
                    $('.responsive-menu-pro-button-text-open').hide();
                    $('.responsive-menu-pro-button-text').show();
                }
            },
            setButtonTextOpen: function() {
                if($('.responsive-menu-pro-button-text').length > 0 && $('.responsive-menu-pro-button-text-open').length > 0) {
                    $('.responsive-menu-pro-button-text').hide();
                    $('.responsive-menu-pro-button-text-open').show();
                }
            },
        {% endif %}
        triggerMenu: function() {
            this.isOpen ? this.closeMenu() : this.openMenu();
        },

        {% if options.use_slide_effect == 'on' %}
            backUpSlide: function(backButton) {
                translate_to = parseInt($('#responsive-menu-pro')[0].style.transform.replace(/^\D+/g, '')) - 100;
                $('#responsive-menu-pro').css({'transform': 'translateX(-' + translate_to + '%)'});
                var previous_submenu_height = $(backButton).parent('ul').parent('li').parent('.responsive-menu-pro-submenu').height();
                if(!previous_submenu_height) {
                    $('#responsive-menu-pro').css({'height': this.originalHeight});
                } else {
                    $('#responsive-menu-pro').css({'height': previous_submenu_height + 'px'});
                }
            },
        {% endif %}

        triggerSubArrow: function(subarrow) {
            var sub_menu = $(subarrow).parent().siblings('.responsive-menu-pro-submenu');
            var self = this;

            {% if options.use_slide_effect == 'on' %}

                $('.responsive-menu-pro-subarrow-active').removeClass('responsive-menu-pro-subarrow-active');
                sub_menu.addClass('responsive-menu-pro-subarrow-active');
                sub_menu.parentsUntil('#responsive-menu-pro').addClass('responsive-menu-pro-subarrow-active');
                current_depth = $(subarrow).parent().parent().parent().data('depth');
                current_depth = typeof current_depth == 'undefined' ? 1 : current_depth;
                translation_amount = current_depth * 100;
                $('#responsive-menu-pro').css({'transform': 'translateX(-' + translation_amount + '%)'});
                $('#responsive-menu-pro').css({'height': sub_menu.height() + 'px'});

            {% else %}

                {# --> Begin Accordion animation #}

                    {% if options.accordion_animation == 'on' %}

                        {# --> Get Top Most Parent and the siblings #}
                        var top_siblings = sub_menu.parents('.responsive-menu-pro-item-has-children').last().siblings('.responsive-menu-pro-item-has-children');
                        var first_siblings = sub_menu.parents('.responsive-menu-pro-item-has-children').first().siblings('.responsive-menu-pro-item-has-children');

                        {# --> Close up just the top level parents to key the rest as it was #}
                        top_siblings.children('.responsive-menu-pro-submenu').slideUp(200, 'linear').removeClass('responsive-menu-pro-submenu-open');

                        {# --> Set each parent arrow to inactive #}
                        top_siblings.each(function() {
                            $(this).find('.responsive-menu-pro-subarrow').first().html(self.inactiveArrow);
                            $(this).find('.responsive-menu-pro-subarrow').first().removeClass('responsive-menu-pro-subarrow-active');
                        });

                        {# --> Now Repeat for the current item siblings #}
                        first_siblings.children('.responsive-menu-pro-submenu').slideUp(200, 'linear').removeClass('responsive-menu-pro-submenu-open');
                        first_siblings.each(function() {
                            $(this).find('.responsive-menu-pro-subarrow').first().html(self.inactiveArrow);
                            $(this).find('.responsive-menu-pro-subarrow').first().removeClass('responsive-menu-pro-subarrow-active');
                        });

                    {% endif %}

                {# --> End Accordion animation #}

                if(sub_menu.hasClass('responsive-menu-pro-submenu-open')) {
                    sub_menu.slideUp(200, 'linear',function() {
                        $(this).css('display', '');
                    }).removeClass('responsive-menu-pro-submenu-open');
                    $(subarrow).html(this.inactiveArrow);
                    $(subarrow).removeClass('responsive-menu-pro-subarrow-active');
                } else {
                    sub_menu.slideDown(200, 'linear').addClass('responsive-menu-pro-submenu-open');
                    $(subarrow).html(this.activeArrow);
                    $(subarrow).addClass('responsive-menu-pro-subarrow-active');
                }

            {% endif %}

        },
        menuHeight: function() {
            return $(this.container).height();
        },
        menuWidth: function() {
            return $(this.container).width();
        },
        wrapperHeight: function() {
            return $(this.wrapper).height();
        },
        {% if options.animation_type != 'fade' %}
            setWrapperTranslate: function() {
                switch('{{ options.menu_appear_from }}') {
                    case 'left':
                        translate = 'translateX(' + this.menuWidth() + 'px)'; break;
                    case 'right':
                        translate = 'translateX(-' + this.menuWidth() + 'px)'; break;
                    case 'top':
                        translate = 'translateY(' + this.wrapperHeight() + 'px)'; break;
                    case 'bottom':
                        translate = 'translateY(-' + this.menuHeight() + 'px)'; break;
                }

                {% if options.animation_type == 'push' %}
                    $(this.pageWrapper).css({'transform':translate});
                    $('html, body').css('overflow-x', 'hidden');
                {% endif %}

                {% if options.button_push_with_animation == 'on' %}
                    $('#responsive-menu-pro-button').css({'transform':translate});
                {% endif %}
            },
            clearWrapperTranslate: function() {
                var self = this;

                {% if options.animation_type == 'push' %}
                    $(this.pageWrapper).css({'transform':''});
                    setTimeout(function() {
                        $('html, body').css('overflow-x', '');
                    }, self.animationSpeed);
                {% endif %}

                {% if options.button_push_with_animation == 'on' %}
                    $('#responsive-menu-pro-button').css({'transform':''});
                {% endif %}
            },
        {% endif %}

        {% if options.animation_type == 'fade' %}
            fadeMenuIn: function() {
                $(this.container)
                    .fadeIn(this.animationSpeed);
            },
            fadeMenuOut: function() {
                $(this.container)
                    .fadeOut(this.animationSpeed, function() {
                        $(this).css('display', '');
                    });

            },
        {% endif %}

        init: function() {

            var self = this;

            {# --> Begin mobile touch gestures section
                Uses: https://github.com/mattbryson/TouchSwipe-Jquery-Plugin #}

                {% if options.enable_touch_gestures == 'on' %}

                    {# --> Open menu touch gestures #}

                        {% if options.menu_appear_from == 'top' %}
                            {% set open_gesture = 'down' %}
                        {% elseif options.menu_appear_from == 'bottom' %}
                            {% set open_gesture = 'up' %}
                        {% elseif options.menu_appear_from == 'left' %}
                            {% set open_gesture = 'right' %}
                        {% else %}
                            {% set open_gesture = 'left' %}
                        {% endif %}

                        $('body').swipe({
                            swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
                                if($(window).width() < self.breakpoint) {
                                    if (direction == '{{ open_gesture }}') {
                                        {% if open_gesture == 'right' %}
                                        if (fingerData[0]['start']['x'] < 75) {
                                            self.openMenu();
                                        }
                                        {% elseif open_gesture == 'left' %}
                                        if (fingerData[0]['start']['x'] + 75 > $(window).width()) {
                                            self.openMenu();
                                        }
                                        {% elseif open_gesture == 'down' %}
                                        if (fingerData[0]['start']['y'] - 75 < $(window).scrollTop()) {
                                            self.openMenu();
                                        }
                                        {% elseif open_gesture == 'up' %}
                                        console.log(fingerData[0]['start']['y']);
                                        console.log($(document).height());
                                        if (fingerData[0]['start']['y'] + 75 > $(document).height()) {
                                            self.openMenu();
                                        }
                                        {% endif %}
                                    }
                                }
                            },
                            threshold: 25
                        });

                    {# --> End open menu touch gestures #}

                    {# --> Close menu touch gestures #}

                        {% if options.menu_appear_from == 'top' %}
                            {% set close_gesture = 'up' %}
                        {% elseif options.menu_appear_from == 'bottom' %}
                            {% set close_gesture = 'down' %}
                        {% else %}
                            {% set close_gesture = options.menu_appear_from %}
                        {% endif %}

                        $('#responsive-menu-pro-container').swipe({
                            swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
                                if($(window).width() < self.breakpoint) {
                                    if (direction == '{{ close_gesture }}') {
                                        self.closeMenu();
                                    }
                                }
                            },
                            threshold: 25
                        });

                    {# --> End close menu touch gestures #}

                {% endif %}

            {# <-- End mobile touch gestures section #}

            {# --> Begin keyboard shortcut section #}

                {% if options.keyboard_shortcut_close_menu %}
                    $(document).keyup(function(e) {
                        if($(window).width() < self.breakpoint) {
                            if($.inArray(e.keyCode, [{{ options.keyboard_shortcut_close_menu }}]) !== -1 && self.isOpen) {
                                self.closeMenu();
                            }
                        }
                    });
                {% endif %}

                {% if options.keyboard_shortcut_open_menu %}
                    $(document).keyup(function(e) {
                        if($(window).width() < self.breakpoint) {
                            if($.inArray(e.keyCode, [{{ options.keyboard_shortcut_open_menu }}]) !== -1 && !self.isOpen) {
                                self.openMenu();
                            }
                        }
                    });
                {% endif %}

            {# --> End keyboard shortcut section #}

            {# --> Begin show menu on page load section #}

                {% if options.show_menu_on_page_load %}
                    if($(window).width() < this.breakpoint) {
                        self.openMenu();
                    }
                {% endif %}

            {# --> End show menu on page load section #}

            {% if options.menu_disable_scrolling == 'on' %}

                $('body > *')
                    .not('#responsive-menu-pro-container, #responsive-menu-pro-overlay, #responsive-menu-pro-mask')
                    .wrapAll('<div id="responsive-menu-pro-noscroll-wrapper"></div>');

            {% endif %}

            $(this.trigger).on('{{ options.button_trigger_type|replace({',': ' '}) }}', function(e){
                e.stopPropagation();
                self.triggerMenu();
            });

            $(this.trigger).mouseup(function(){
                $(self.trigger).blur();
            });

            $('.responsive-menu-pro-subarrow').on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                self.triggerSubArrow(this);
            });

            $(window).resize(function() {
                if($(window).width() > self.breakpoint) {
                    if(self.isOpen){
                        self.closeMenu();
                    }
                    $('.responsive-menu-pro-submenu').removeAttr('style');
                } else {

                    {% if options.use_single_menu == 'on' %}
                        $(self.container).addClass('responsive-menu-pro-no-transition');
                    {% endif %}

                    {% if options.animation_type != 'fade' %}
                        if($('.responsive-menu-pro-open').length > 0){
                            self.setWrapperTranslate();
                        }
                    {% endif %}

                }
            });

            {% if options.menu_close_on_link_click == 'on' %}
                $(this.linkElement).on('click', function(e) {
                    if($(window).width() < self.breakpoint) {

                        e.preventDefault();

                        {# Fix for when close menu on parent clicks is on #}
                        {% if options.menu_item_click_to_trigger_submenu == 'on' %}
                            if($(this).is('.responsive-menu-pro-item-has-children > ' + self.linkElement)) {
                                return;
                            }
                        {% endif %}

                        old_href = $(this).attr('href');
                        old_target = typeof $(this).attr('target') == 'undefined' ? '_self' : $(this).attr('target');

                        if(self.isOpen) {
                            if($(e.target).closest('.responsive-menu-pro-subarrow').length) {
                                return;
                            }
                            if(typeof old_href != 'undefined') {
                                self.closeMenu();
                                setTimeout(function() {
                                    window.open(old_href, old_target);
                                }, self.animationSpeed);
                            }
                        }
                    }
                });
            {% endif %}

            {% if options.menu_close_on_body_click == 'on' %}
                $(document).on('click', 'body', function(e) {
                    if(self.isOpen) {
                        if(
                            $(e.target).closest('#responsive-menu-pro-container').length ||
                            $(e.target).closest('#responsive-menu-pro-button').length
                        ) { return; }
                    }
                    self.closeMenu();
                });
            {% endif %}

            {% if options.menu_item_click_to_trigger_submenu == 'on' %}
                $('.responsive-menu-pro-item-has-children > ' + this.linkElement).on('click', function(e) {
                    e.preventDefault();
                    self.triggerSubArrow(
                        $(this).children('.responsive-menu-pro-subarrow').first()
                    );
                });
            {% endif %}

            {% if options.use_slide_effect == 'on' %}
                $('.responsive-menu-pro-back').on('click', function() {
                    self.backUpSlide(this);
                });
            {% endif %}

        }
    };
    ResponsiveMenuPro.init();
});